.header-wrapper {
  display: flex;
  height: 80px;

  .header-left {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    flex: 2;
  }

  .header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    flex: 1;

    .active-item {
      border-bottom: 3px solid black;
      border-radius: 3px;
    }
  }

}
