<div class="header-wrapper">
  <div class="header-left">
    <div class="header-item">
      <div class="header-heading">
        <span>OriginTrail Interview</span>
      </div>
    </div>
    <div class="header-item">
      <span [routerLink]="['/']" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">Transactions</span>
    </div>
    <div class="header-item">
      <span [routerLink]="['/eth']" routerLinkActive="active-item">ETH Amount</span>
    </div>
    <div class="header-item">
      <span [routerLink]="['/tokens']" routerLinkActive="active-item">Tokens</span>
    </div>
  </div>
  <div class="header-right">
    <!--  TODO: Login/Register/Logout page if decide to create a full web application -->
  </div>
</div>
