<div class="container">
  <div class="row">
    <div class="col-4">
      <form action="" [formGroup]="ethAmountForm">
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control" type="text" name="address" id="address" formControlName="address">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input class="form-control" type="text" name="date" id="date" formControlName="date">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="onEthAmountFormSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="loadingTransactions; else loaded">
    <div class="loading">
      <img src="../../../assets/loader.svg" alt="">
    </div>
  </div>
  <ng-template #loaded>
    <div class="col-12 transactions-table" *ngIf="transactions">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>Date</td>
            <td>Total ETH Value</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ ethAmountForm.controls['date'].value }}</td>
            <td>{{ ethAmount | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
