<div class="container">
  <div class="row">
    <div class="col-4">
      <form action="" [formGroup]="transactionsForm">
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control" type="text" name="address" id="address" formControlName="address">
        </div>
        <div class="form-group">
          <label for="startBlock">Start block</label>
          <input class="form-control" type="text" name="startBlock" id="startBlock" formControlName="startBlock">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="onTransactionsFormSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="loadingTransactions; else loaded">
    <div class="loading">
      <img src="../../../assets/loader.svg" alt="">
    </div>
  </div>
  <ng-template #loaded>
    <div class="col-12 transactions-table" *ngIf="transactions">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <td>Block Number</td>
          <td>Timestamp</td>
          <td>Hash</td>
          <td>Nonce</td>
          <td>Block Hash</td>
          <td>Transaction Index</td>
          <td>From</td>
          <td>To</td>
          <td>Value (ETH)</td>
          <td>Is Error</td>
          <td>Gas</td>
          <td>Gas Price (GWEI)</td>
          <td>Cumulative Gas Used</td>
          <td>Gas Used</td>
          <td>Confirmations</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 10, currentPage: page };">
          <td>{{ transaction.blockNumber }}</td>
          <td>{{ transaction.timeStamp | date: 'yyyy-MM-dd'}}</td>
          <td>{{ transaction.hash }}</td>
          <td>{{ transaction.nonce }}</td>
          <td>{{ transaction.blockHash }}</td>
          <td>{{ transaction.transactionIndex }}</td>
          <td>{{ transaction.from }}</td>
          <td>{{ transaction.to }}</td>
          <td>{{ weiToEth(transaction.value) }}</td>
          <td>{{ transaction['isError'] }}</td>
          <td>{{ transaction.gas }}</td>
          <td>{{ transaction.gasPrice }}</td>
          <td>{{ transaction.cumulativeGasUsed }}</td>
          <td>{{ transaction.gasUsed }}</td>
          <td>{{ transaction.confirmations }}</td>
        </tr>
        </tbody>
        <div class="custom-pagination">
          <pagination-controls (pageChange)="page = $event"
                               previousLabel="PREVIOUS"
                               nextLabel="NEXT"
                               maxSize="5"
                               responsive="true"></pagination-controls>
        </div>
      </table>
    </div>
  </ng-template>
</div>
