.transactions-table {
  overflow-x: scroll;

  td {
    white-space: nowrap;
  }
}

.custom-pagination ::ng-deep .ngx-pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  & .pagination-previous a::before,
  & .pagination-previous.disabled::before,
  & .pagination-next a::after,
  & .pagination-next.disabled::after {
    content: '' !important;
    display: flex;
    justify-content: center;
  }
}
