<div class="container">
  <div class="row">
    <div class="col-4">
      <form action="" [formGroup]="tokensAmountForm">
        <div class="form-group">
          <label for="address">Contract Address</label>
          <input class="form-control" type="text" name="address" id="address" formControlName="contractaddress">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="onTokensAmountFormSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="loadingAmount; else loaded">
    <div class="loading">
      <img src="../../../assets/loader.svg" alt="">
    </div>
  </div>
  <ng-template #loaded>
    <div class="col-12 transactions-table" *ngIf="tokensAmount">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <td>Total Tokens Amount</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ tokensAmount }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
